<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body style="padding-top: 60px">
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Clothes added to closet!</h1>
                <p>Go hang it on the rack!</p>
                <button href="/1b_add_details" class="button-link btn btn-primary btn-block btn-lg">Add Details</button>
            </div>
        </div>
        <div id="content"></div>
        <!-- <a href="scan" class="btn btn-primary">Go to scan page</a> -->
    </div>

    <%- include('partials/navbar_top', { back_link: '/1_scan' }); %>
    <%- include('partials/navbar_bottom'); %>
    
    <%- include('partials/scripts'); %>
</body>

</html>