body {
    padding-top: 60px;
    padding-bottom: 120px;
}

.iconset {
    flex-basis: 0;
    flex-grow: 1;
}

#bottom-bar {
    border-top: 5px solid #795548;
}

.fullpage-center {
    display:flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.icon-huge {
    font-size: 60pt;
}

.btn-group-fullwidth {
    display: flex;
}

.btn-group-fullwidth .btn {
    flex: 1;
}

.btn-primary {
    color: #333;
    background-color: #E2D1C3;
    border-color: #E2D1C3;
}
.btn-outline-dark {
    border-color: #E2D1C3;
}

.navbar-brand.iconset.active {
    color: #0088ff;
}

.thumbnail {
    /* border-radius: 50%; */
    width: 120px;
    height: 120px;
    background-color: #aaa;
    background-position: center;
    background-size: cover;
    border: 1px #333 solid;
    display: inline-block;
}

.alert-fade {
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}


.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 80px;
    z-index: 5000;
}

.toast.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 80px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 80px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 80px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 80px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.fa-star {
    color: #E2D1C3;
}


img.icon {
    height: 42pt;
    vertical-align: middle;
    padding: 12pt 12pt;
}

img.icon.icon-lg {
    padding: 5pt;
}