<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body style="padding-top: 60px">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Add Details Complete</h1>
                <a href="/1_scan" class="btn btn-lg btn-primary btn-block">Scan again</a>
                <a href="/" class="btn btn-lg btn-primary btn-block">Back to home page</a>
            </div>
        </div>
        <div id="content"></div>
        <!-- <a href="scan" class="btn btn-primary">Go to scan page</a> -->
    </div>

    <%- include('partials/navbar_top', { back_link: '/1a_add_detail' }); %>
    <%- include('partials/navbar_bottom'); %>
    
    <%- include('partials/scripts'); %>
</body>

</html>