<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
        <%- include('partials/navbar_top_title', { title: 'Tag Scanned', icon: false }); %>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 role="alert">Striped Black/White T-Shirt from H&amp;M</h1>
                <hr>
                <p>Striped Black/White Short-sleeved Crew-neck T-shirt from H&amp;M</p>
                <hr>
                <a href="#" class="btn btn-primary btn-block popup" data-popup-msg="Select sharing option">
                    <i class="fas fa-microphone"></i> Ask for specific tag information</a>
                <a href="#" class="btn btn-primary btn-block popup" id="add-to-clothes-list" data-popup-msg="Item added to your clothes list.">
                    <i class="fas fa-plus"></i> Add to my clothes list</a>
                <hr>
                <h3>Details</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Description</th>
                            <td>Short-sleeved Crew-neck T-shirt</td>
                        </tr>
                        <tr>
                            <th>Brand</th>
                            <td>H&amp;M</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>L</td>
                        </tr>
                        <tr>
                            <th>Pattern/Color</th>
                            <td>Striped Black/White</td>
                        </tr>
                        <tr>
                            <th>Style</th>
                            <td>Casual</td>
                        </tr>
                        <tr>
                            <th>Care Instructions</th>
                            <td>
                                Machine Wash Cold with Like Color
                                <br> Tumble Dry
                                <br> Low Heat Iron
                            </td>
                        </tr>
                        <tr>
                            <th>Material</th>
                            <td>100% Cotton</td>
                        </tr>
                        <tr>
                            <th>Made in</th>
                            <td>USA</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="btn btn-outline-danger btn-block">
                    <i class="fas fa-trash"></i> Remove from my clothes list</a>
            </div>
        </div>
    </div>

        <%- include('partials/navbar_bottom', { active: 2 }); %>

            <%- include('partials/scripts'); %>

                <script>
                    function onScanned (info) {
                        window.location.href = '/scan_result'
                    }

                    getToggleValue(function (toggles) {
                        console.log(toggles)
                        $('#add-to-clothes-list').prop('disabled', !toggles.homeMode)
                        if (!toggles.homeMode) {
                            $('#add-to-clothes-list').addClass('disabled')
                        } else {
                            $('#add-to-clothes-list').removeClass('disabled')
                        }
                    })

                    // $(function () {
                    //     $('#more-info').click(function () {
                    //         $('#info-modal').modal('show')
                    //     })
                    // })
                </script>
</body>

</html>