<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
        <%- include('partials/navbar_top_title', { title: 'Clothes Received!', icon: false }); %>

    <div class="fullpage-center">
        <div class="text-center">
            <img src="/img/icons/Icon - big check.svg" alt="Hang clothes" aria-hidden="true" class= "img-lg">
            <p role="alert">We have received your clothes in the wardrobe!</p>
            <br>
            <br>
            <a href="/scan" class="btn btn-primary btn-block">Scan other clothes</a>
            <a href="/home" class="btn btn-primary btn-block">Back to home</a>
        </div>
    </div>

    <%- include('partials/navbar_bottom', { active: 2 }); %>

    <%- include('partials/scripts'); %>

    <script>
        // $(function () {
        //     $('#more-info').click(function () {
        //         $('#info-modal').modal('show')
        //     })
        // })
    </script>
</body>

</html>