<div class="fullpage-center alert-fade">
    <div class="card" role="alert" labelledby="alert-label">
        <div class="card-body text-center">
            <div id="aler-label" tabindex=”0″>Alert</div>
            <hr>
            <button class="btn btn-primary">OK</button>
        </div>
    </div>
</div>