<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="https://factory.jcrew.com/s7-img-facade/C2491_KE3834_m?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636"
                    class="img-fluid" alt="Image: Striped Black/White Tee from H&amp;M" aria-hidden="true">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-9">
                        <h3>Striped Black/White Tee</h3s>
                    </div>
                    <div class="col-3">
                        <%- include('fav_toggle', { favorite: locals.favorite }); %>
                    </div>
                </div>


                <p>
                    from H&amp;M
                    <br> 100% cotton
                </p>
                <p>This clothes is on the wardrobe</p>
                <hr>
                <a href="/pickup" class="btn btn-primary btn-block">Pick up now</a>
                <a href="#" class="btn btn-primary btn-block">Add to pick up list</a>
                <a href="/clothes_detail" class="btn btn-primary btn-block">Details</a>
            </div>
        </div>
    </div>
</div>