<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="thumbnail" style="background-image: url('/img/photos/Item - tshirt@2x.jpg')"></div>
                <div class="thumbnail" style="background-image: url('/img/photos/Item - short@2x.jpg')"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h3>
                    <small>Combination</small>
                    <br>Striped T-Shirt + <br>Blue Jeans</h3>
            </div>
            <div class="col-2">
                <%- include('fav_toggle', { favorite: locals.favorite }); %>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <a href="/pickup" class="btn btn-primary btn-lg">Pick Up All</a>
                <a href="/combo_detail" class="btn btn-outline-dark btn-lg">Details</a>
            </div>
        </div>
    </div>
</div>