<button role="switch" aria-checked="<%= locals.favorite === true %>" class="fav-toggle btn btn-link btn-lg" aria-label="Add to Favorites">
    <span><i class="fas fa-star float-right text-danger fav-toggle-on"></i></span>
    <span><i class="far fa-star float-right fav-toggle-off"></i></span>
</button>
