<nav class="navbar fixed-bottom navbar-light bg-light justify-content-between" id="bottom-bar">
    <a class="navbar-brand iconset text-center" href="/home">
        <div class="iconset-icon"><i class="fas fa-home"></i></div>
        <div class="iconset-caption">Home</div>
    </a>
    <a class="navbar-brand iconset text-center" href="/scan">
        <div class="iconset-icon"><i class="fas fa-mobile-alt"></i></div>
        <div class="iconset-caption">Scan</div>
    </a>
    <a class="navbar-brand iconset text-center" href="/favorites">
        <div class="iconset-icon"><i class="fas fa-heart"></i></div>
        <div class="iconset-caption">Favorites</div>
    </a>
</ul>
</nav>