<nav class="navbar fixed-top navbar-dark" aria-label="Search bar">
    <% if (locals.back !== false) { %>
        <div class="col-2">
            <a href="#" class="navbar-brand navsearch" onclick="history.go(-1)">‹ Back</a>
        </div>
        <div class="col-8">
            <form action="/search_result" method="GET">
                <input class="form-control replace-from-query" data-key="q" name="q" type="search" placeholder="Search items or outfits e.g. casual outfit" aria-label="Search your clothes or outfits e.g. casual outfit">
            </form>
        </div>
        <% } else { %>
            <div class="col-10">
                <form action="/search_result" method="GET">
                    <!-- <div class="input-group"> -->
                    <input class="form-control query-val" name="q" type="search" placeholder="Search your clothes or outfits e.g. casual outfit"
                        aria-label="Search your clothes or outfits e.g. casual outfit" value="<%= locals.fill ? locals.fill : '' %>">
                    <!-- <div class="input-group-append">
                            <button class="btn btn-light" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div> -->
                    <!-- </div> -->
                </form>
            </div>
            <% } %>
                <div class="col-2">
                    <a href="/pickup_list" class="navsearch btn btn-light nav-btn">
                        <i class="fas fa-list" aria-label="2 items in your pick up list"></i>
                        <span class="badge badge-success" aria-hidden="true">2</span>
                    </a>
                </div>
</nav>